---
layout: default
rdf:
  queries:
    artist: |
      SELECT *
      WHERE {
        <{{ subject }}> foaf:name ?name.
        OPTIONAL {
          <{{ subject }}> owl:sameAs ?musicbrainz_id
          FILTER regex(str(?musicbrainz_id), '^http://musicbrainz.org/', 'i')
        }
      }
    events:
      - |
        SELECT *
        WHERE {
          ?event mo:performer <{{ subject }}>;
            dc:date ?date;
            event:place ?venue.
          ?venue foaf:name ?venue_name.
        }
---
<h2>{{ page.artist.name }}</h2>
<h4>Events</h4>
<ul>
  {% for event in page.events %}
  <li>
    <a href="{{ site.baseurl }}{{ site.data.subject_pages[event.event] }}">
      {{ event.date | date: '%-d %B %Y' }} - {{ event.venue_name }}
    </a>
  </li>
  {% endfor %}
</ul>
